/* Base styles for the landing page */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: white; /* 60% White */
    color: #333; /* Dark gray for text */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    overflow: hidden;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333; /* Dark gray */
    animation: fadeInDown 1s ease-out;
}

p {
    font-size: 1.2rem;
    margin-bottom: 40px;
    max-width: 600px;
    color: #666; /* Lighter gray for paragraph text */
    animation: fadeInUp 1s ease-out 0.5s;
}

button {
    background-color: #29AB87; /* 10% Jungle Green */
    color: white; /* Text color on button */
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.2s, background-color 0.3s;
    animation: fadeInUp 1s ease-out 0.8s;
}

button:hover {
    transform: scale(1.1);
    background-color: #228B6A; /* Darker Jungle Green when hovered */
}

button:active {
    transform: scale(0.9);
}

/* Video container styling */
#video-container {
    position: relative;
    margin: 20px auto;
    width: 640px;
    height: 480px;
    border: 2px solid #333;
    background-color: #000;
    display: none; /* Initially hidden */
}

#close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 2rem; /* Larger text for better icon visibility */
    cursor: pointer;
    transition: color 0.3s, transform 0.3s ease-in-out;
}

#close-button:hover {
    color: #333; /* Accent color on hover */
    transform: scale(1.1);
}

#close-button:active {
    transform: scale(0.9);
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
